
*{
    box-sizing: border-box;




}



body { 
    background-color: #7d7987;
}


.trafalgar{
    max-width: 1600px;
    height: 5870px;
    background-color: #FFFFFF;
    display: flex;
    position: relative;
    margin-left: 100px;
    overflow: hidden;

    

    
}


header {
    width: 1487px;
    width: 100%;
    height: 719px;
    top: 56px;
    right: 163px;
    display: flex;
    position: absolute;
    z-index: 9;

}





    ul {
    list-style: none;
    width: 545px;
    height: 23px;
    top: 14px;
    right: 29px; 
    position: absolute;
    display: flex;
    align-items: normal ;
    justify-content: space-around;
    justify-content: normal;
    margin: 0;
    padding: 0;
    white-space: nowrap ; /* priverte teksta pasilikti vienoje ieleje*/
    
    
}

/* ar cia divai ar cia tiesiog tekstas liris yra nav bare*/


     header a {
    text-decoration: none; 
   color: black; 
    text-align: left;
    display: flex;
    font-size: 18px;
    float: left;
    display: inline;
    padding-right: 40px;
    

}
 









.ilustracija {
    width: 693px;
    height: 598px;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10;
    background: none;
    position: absolute;
 
}

.logo {
    width: 160px;
    height: 41px;
    top: 0;
    left: 241px;
    background: none;
    position: absolute;
    
}


.logo .T {
    width: 17px;
    height: 32px;
    background:none ;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 13px;
    font-size: 26px;
    color: #FFFFFF;
    
}


.logo .ellipse{
    width: 41px;
    height: 41px;
    background-color: #458FF6;
    display: flex;
    justify-content: center; /* Centruoja horizontaliai */
    align-items: center; /* Centruoja vertikaliai */
    position: relative; 
    border-radius: 50%;
    top: 0;
    left: 0;

}

.logo .logo_tekstas {
    width: 107px;
    height: 30px;
    background: none;
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    top:6px;
    right: 0px;
    font-size: 24px;
   
    /* fontas reikalingas*/

}


.header_text {
width: 445px;
height: 338px;
background: none;
position: absolute;
display: flex;
z-index: 10;
top: 227px;
left: 240px;

}

.consult_btn {
width: 200px;
height: 60px;
background: none;
position: absolute;
display: flex;
bottom: 0px;
left: 0px;

}


.consult_today{
    
    height: 60px;
    background: none;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
    z-index: 20;
    display: flex;
    align-items: center;
    font-size: 18px;

    /* tekstui fonto reikia*/

}


.Rectangle_1{
    width: 200px;
    height: 56px;
    top: 3px;
    right: 0px;
    background-color: #458FF6;
    position: absolute;
    display: flex;
    border-radius: 55px;


}





.header_text .Virtual{
    width: 427px;
    height: 112px;
    top: 0;
    left: 0;
    position: absolute;
    background: none;
    font-weight:bold;
    font-size: 48px;
    display: flex;
    margin: 0;
    /* teksto fontas*/
    
    
}


.header_text .Tekstas {
    width: 445px;
    height: 96px;
    bottom: 105px;
    left: 0;
    position: absolute;
    font-size: 21px;
    /* teksto fontas*/

}


.element {
    width: 131.58px;
    height: 115px;
    top: 104px;
    left: 0px;
    padding-left: 50px;
    /* background-color: rgb(113, 121, 121); */
    position: absolute;
    
    

}






/* /////////////////////////////// KITAS//////////////////////////////////////////// */




.our_services {
    width: 1675.58px;
    width: 100%;
    height: 1133px;
    top: 965px;
    right: 190.42px;
    position: absolute;
    display: flex;
}

.services{
    width: 1120px ;
    height: 745px;
    right: 49.58px;
    top: 259px;
    position: absolute;
    display: flex;
    z-index: 2;
}


.emergency_care {
    width: 350px;
    height: 354px;
    bottom: 0;
    right: 386px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,36px,0,30px;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}

.Group_3 {
    width: 267px;
    height: 248.41px;
    position: absolute;
}


.p_tituliniai {
    font-size: 24px;
    font-weight:bold;
    display: flex;

} 



.tracking {
    width: 350px;
    height: 354px;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,0,0,0;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}

.detail_info{
    width: 350px;
    height: 354px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,0,0,0;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}


.Group_4 {
    width: 267px;
    height: 248.41px;
    position: absolute;
}



.online_pharmarmacy{
    width: 350px;
    height: 354px;
    top: 0;
    right: 386px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,0,0,0;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}


.consultation{
    width: 350px;
    height: 354px;
    top: 0;
    right: 0px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,0,0,0;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}

.search_doctor{
    width: 350px;
    height: 354px;
    top: 0;
    left: 0px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 36px,0,0,0;
    border-radius: 15px;
    padding-top: 59px;
    padding-left: 38px;
}


.servisas{
    width: 952px;
    height: 177px;
    top: 0;
    right: 134.58px;
    background-color: #FFFFFF;
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    

}

.servisas img{
    width: 56px;
    height: 2px;
    right: 447px;
    display: flex;
    position: absolute;
    top: 82px;

}


.ojej{
    font-size: 36px;
    display: flex;
    font-weight: 700;
    color: black;
    margin: 0;
    
}

.vajej{
    font-size: 18px;
    font-weight: 300;
    color: #7d7987;
    bottom: 0;
    display: flex;
    position: absolute;
}


.palenda{
width: 131.58px;
height: 115px;
right: 0;
top: 544px;
display: flex;
position: absolute;
z-index: 1;
}

.bg_element{
    width: 1118.54px;
    height: 967.94px;
    top: 0;
    right: 507.46px;
}

.serviso_btn{
    width: 200px;
    height: 60px;
    bottom: 0;
    right: 509.58px ;
    background-color: #FFFFFF;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1.4px solid #458FF6;
    border-radius: 50px;
}

.serviso_btn div{
   font-size: 18px;
   font-weight: 700;
   display: flex;
   position: absolute;

   
}


/* -----------------KITAS--------------------- */

.trafalgar_leading {
    width: 1273px;
    height: 477px;
    right: 192px;
    top: 2318px;
    position: absolute;
    display: flex;
}

.trafalgar_leadingimg {
    width: 650px;
    height: 477px;
    top: 0;
    left: 0;
    position: absolute;
}


.leading_text {
    width: 486px;
    height: 388px;
    top: 57px;
    left: 787px;
    position: absolute;

   
}

.Trafalgar_provides{
    width: 450px;
    height: 120px;
    bottom: 97px;
    left: 5px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    position: absolute;
    color: #7d7987;
}

.Leading_healthcare {
    width: 481px;
    height: 112px;
    top: 0;
    left: 5px;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    color: #000000;

}


.Rectangle_11 {
    width: 56px;
    height: 2px;
    top: 138px;
    left: 5px;
    border-radius: 10px;
    background-color: #000000;
    position: absolute;

}


.Leading_btn {
    width: 200px;
    height: 60px;
    bottom: 0;
    left: 0;
    position: absolute;
 z-index: 2;
}

.Rectangle_14{
    width: 200px;
    height: 56px;
    top: 3px;
    left: 0;
    position: absolute;
    border: 1.4px solid;
    border-color: #458FF6;
    border-radius: 55px;
  
}


.Leading_Learn {
    width: 98px;
    height: 60px;
    top: 0;
    left: 51px;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    position: absolute;
    color: #458FF6;
    text-align: center;
}

/* --------------------------- */

.download{
    width: 1365.58px;
    height: 675px;
    left: 280px;
    top: 2783px;
    position: absolute;
}

.dwn_text {
    width: 420px;
    height: 375px;
    left: 0;
    bottom: 23px;
    position: absolute;

    
}

.dedicated{
    width: 420px;
    height: 120px;
    top: 159px;
    left: 0;
    position: absolute;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
    text-align: start;   
  
}


.dwn_our{
    width: 254px;
    height: 96px;
    top: 0;
    left: 0;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
}

.Rectangle_12 {
    width: 56px;
    height: 2px;
    top: 126px;
    left: 2px;
    position: absolute;
    border: 2px  solid #000000;
    border-radius: 6px;
}

.btn_dow {
    width: 200px;
    height: 56px;
    left: 0;
    bottom: 0;
    position: absolute;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    display: flex;

}

.tektas_dwn{
    width: 89px;
    height: 13px;
    bottom: 22px;
    left: 43px;
    position: absolute;
    font-weight: 700;
    font-size: auto;

    color: #458FF6;
} 


.vector {
    width: 9.82px;
    height:15.43px ;
    bottom: 20.39px;
    left: 146.79px;
    position: absolute;
}

.trafalgar_illustration {
    width: 665px;
    height: 434px;
    bottom: 0;
    left: 491px;
    position: absolute;
}

.taskeliai {
    width: 131.58px;
    height: 115px;
    top: 0;
    right: 0;
    position: absolute;
}



/* --------------------KITAS */


.testimonials {
    width: 1219.58px;
    height: 502px;
    left: 190px;
    top: 3709px;
    position: absolute;
}

.navigacijos_streles {
    width: 336.43px;
    height: 20px;
    bottom: 0;
    left: 443px;
    position: absolute;
    background-color: none;

}

.Frame_1{
    width: 31.43px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
 

}

.Frame_2 {
    width: 31.43px;
    height: 20px;
    top: 0;
    right: 0;
    position: absolute;
}


.slider {
    width: 94px;
    height: 10px;
    top: 5px;
    left: 121px;
    position: absolute;
    background-color: none;
    display: flex;

}




.slider .vienas{
    width: 10px;
    height: 10px;
    position: absolute;
    background-color:#5B9BF3 ;
    border-radius: 50%;
}

.du{
    width: 10px;
    height: 10px;
    left: 28px;
    position: absolute;
    background-color:#5B9BF3 ;
    border-radius: 50%;
}

.trys{
    width: 10px;
    height: 10px;
    left: 56px;
    position: absolute;
    background-color:#5B9BF3 ;
    border-radius: 50%;
}

.keturi{
        width: 10px;
        height: 10px;
        right: 0;
        position: absolute;
        background-color:#5B9BF3 ;
        border-radius: 50%;
    
}


.Group_6{
    width: 1219.58px;
    height: 440px;
    top: 0;
    right: 0;
    position: absolute;
}

.selfy {
    width: 141px;
    height: 141px;
    top: 205px;
    left: 118px;
    position: absolute;
}

.Rectangle_17 {
    width: 56px;
    height: 2px;
    top: 139px;
    left: 393px;
    position: absolute;
    border: 2px solid #FFFFFF;
}

.Founder {
    width: 119px;
    height: 48px;
    top: 268px;
    left: 288px;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: #FFFFFF;
}

.Edward{
    width: 184px;
    height: 48px;
    top: 236px;
    left: 288px;
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;

}


.What {
    width: 522px;
    height: 48px;
    top: 64px;
    left: 301px;
    position: absolute;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;

}


.Our {
    width: 420px;
    height: 120px;
    top: 216px;
    left: 582px;
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 90%;
}

.G_Taskai {
    width: 131.58px;
    height: 115px;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 26%;
}

.Rectangle_13 {
    width: 1120px;
    height: 425px;
    left: 52px;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to bottom, #67C3F3, #5A98F2);
    border-radius: 24px;
}

.G_Taskai2 {
    width: 131.58px;
    height: 115px;
    top: 271px;
    left: -52px;
    position: absolute;
}



/* ----------------------- KITAS */


.our_lates{
    width: 1785.11px;
    height: 810px;
    top: 4427px;
    left: 191px;
    position: absolute;
}

.article_03 {
    width: 350px;
    height: 512px;
    bottom: 129px;
    left: 819px;
    position: absolute;
    z-index: 2;
    
}

.Read {
    width: 266px;
    height: 28px;
    bottom: 35px;
    left: 32px;
    position: absolute;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    color: #4089ED;
}

.Healthy_life{
    width: 266px;
    height: 84px;
    bottom: 88px;
    left: 32px;
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7d7987;
}

.Natural_care{
    width: 245px;
    height: 64px;
    bottom: 184px;
    left: 32px;
    position: absolute;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

.Artical_Foto{
    width: 350px;
    height: 240px;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
}


.Frame_Rodykle{
    width: 14.14px;
    height: 9px;
    bottom: 43px;
    left: 134px;
    position: absolute;

}

.article_02 {
        width: 350px;
        height: 512px;
        bottom: 129px;
        left: 433px;
        position: absolute;
        
    
}


.article_01 {
    width: 350px;
    height: 512px;
    bottom: 129px;
    left: 49px;
    position: absolute;
    z-index: 2;
    

}


.article_deze {
    width: 462px;
    height: 84px;
    left: 378px;
    bottom: 720px;
    position: absolute;
    color: #000000;

}

.article_tekstas {
    width: 462px;
    height: 56px;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

.Rectangle_18 {
    width: 56px;
    height: 2px;
    bottom: 0;
    left: 203px;
    position: absolute;
    border: 2px solid black;
    
}

.Ponas_elementas {
    width: 131.58px;
    height: 115px;
    left: 0;
    bottom: 568px;
    position: absolute;
    z-index: 1;
}


.btn_article{
    width: 200px;
    height: 60px;
    bottom: 0;
    left: 509px;
    position: absolute;
    border: none;
    background-color: white;
}

 .deze_btn {
    width: 69px;
    height: 60px;
    top: 3px;
    left: 65px;
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    color: #458FF6;
 }

 .Rectangle_27 {
    width: 200px;
    height: 56px;
    left: 0;
    bottom: 1px;
    position: absolute;
    border-radius: 55px;
    border: 2px solid #458FF6;
 }


 .vector_2 {
    width: 778.72px;
    height: 557.38px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom, #F3F7FF , #DEEEFE);
    background: none;
 }

/* -------------------------------Kitas */
 .footer {
    width: 1638px;
    height: 523px;
    bottom: -19px;
    left: -19px;
    position: absolute ;
 

 }

 .element8 {
    width: 131.58px;
    height: 115px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
 }

 .Help {
    width: 391px;
    height: 214px;
    right: -19px;
    top: 181px;
    position: absolute;
    z-index: 2;


 }


 .Help_text {
    width: 45px;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
 }

 .Help_center {
    width: 391px;
    height: 152px;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
 }

 .Region {
    width: 391px;
    height: 214px;
    right: 233px;
    top: 181px;
    position: absolute;
    z-index: 2;

 }

 .Company {
    width: 391px;
    height: 214px;
    right: 502px;
    top: 181px;
    position: absolute;
    z-index: 2;
 }

 .banner {
    width: 391px;
    height: 201px;
    right: 1038px;
    top: 181px;
    position: absolute;
    z-index: 2;
 }

 .LTD {
    width: 391px;
    height: 28px;
    bottom: 0;
    left: 0;
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
 }

 .provides_progressive {
    width: 391px;
    height: 84px;
    bottom: 59px;
    left: 0;
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF; 

 }

 .T {
    width: 17px;
    height: 32px;
    left: 13px;
    top: 5;
    position: absolute;
    font-weight: 700;
    font-size: 26px;
    line-height: 32.63px;
    color: #5B9BF3;
    z-index: 2;

 }

 .ellipse8{
    width: 41px;
    height: 41px;
    top: 0;
    left: 1;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
 }

 .Trafalgar_pabaiga{
    width: 107px;
    height: 30px;
    top: 6px;
    left: 53px;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 30.12px;
    color: #FFFFFF;

 }

 .blue_box {
    width: 1600px;
    height: 432px;
    top: 72px;
    left: 19px;
    position: absolute;
    background:  linear-gradient(to bottom, #67C3F3 , #5A98F2);
 }


 .element9 {
    width: 131.58px;
    height: 115px;
    top: 0;
    right: 110.42px;
    bottom: 389px;
    position: absolute;
    z-index: 10;
 }