
/* viskas mazeja 30 % */


@media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }


    
    .ilustracija {
      width: calc(693px*0.7);
      height: calc(598px*0.7);
  
   
  }



  
.header_text .Virtual{
  font-size: 40px;
  
}


.header_text .Tekstas {
  width: calc(445px*0.7) ;
  height: calc(96px*0.7) ;
  bottom: 105px;
  left: 0;
  position: absolute;
  font-size: 21px;
  

}




  }




  












  /* viskas mazeja 50% */





  @media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }


    
    .ilustracija {
      width: calc(693px*0.6);
      height: calc(598px*0.6);
  
   
  }





.header_text .Tekstas {
  width: calc(445px*0.7) ;
  height: calc(96px*0.7) ;
  bottom: 105px;
  left: 0;
  position: absolute;
  font-size: 21px;
  

}


ul {
  width: calc(545px*0.7) ;
  height: calc(23px*0.7) ; 
}


a {
  font-size: 14px;
  padding-right: 25px;
}



  }





  /*mobili versija*/





  @media screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }






  }